@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */

body {
  background-color: #000000; 
  overflow-x: hidden;  
}

/* SCROLL BAR STYLES*/
:root {
  --primary: #000000;
  --secondary: rgba(79, 248, 210, 1);
  --tertiary: rgba(31, 209, 253, 0.6);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
  cursor: url('./assets/cursor.svg'), auto !important;
}

*::-webkit-scrollbar {
  width: 17px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px; 
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
/* END OF SCROLL BAR STYLES*/

/* Home page buttom */
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #4ff8d2;
  border-bottom-color: #4ff8d2;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/* Home page buttom */
.btn-summer {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-summer-one {
  color: #fff;
  transition: all 0.3s;
  position: relative;
}
.btn-summer-one span {
  transition: all 0.3s;
}
.btn-summer-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #D74B76;
  border-bottom-color: #D74B76;
  transform: scale(0.1, 1);
}
.btn-summer-one:hover span {
  letter-spacing: 2px;
}
.btn-summer-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-summer-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-summer-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

/*Shadow for home image*/
.image-box-shadow{
  box-shadow: inset 0 -2em 2em rgb(79 248 210 / 30%), #4ff8d2 0px 2px 15px 2px;
}

/*Glowing shadow*/
.glowing-shadow {
  box-shadow: 0 0 0 0 #4ff8d2; /* Glowing effect shadow */
  animation: pulse 6s infinite ease-in-out;
}

:root {
  --pulse-size: 150px; 
  --pulse-offset: calc(var(--pulse-size) * 0.2); 
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 var(--pulse-size) 0 rgba(79, 248, 210, 0.7);
  }
  50% {
    box-shadow: 0 0 calc(var(--pulse-size) + var(--pulse-offset)) 0 rgba(79, 248, 210, 0.2);
  }
}

/*cyber shadow*/
.cyber-shadow {
  box-shadow: 0 0 0 0 #e98074; /* Glowing effect shadow */
  animation: pulse-cyber 6s infinite ease-in-out;
}

:root {
  --pulse-size: 150px; 
  --pulse-offset: calc(var(--pulse-size) * 0.2); 
}

@keyframes pulse-cyber {
  0%, 100% {
    box-shadow: 0 0 var(--pulse-size) 0 rgba(233, 128, 116, 0.7);
  }
  50% {
    box-shadow: 0 0 calc(var(--pulse-size) + var(--pulse-offset)) 0 rgba(233, 128, 116, 0.2);
  }
}

/*crazy shadow*/
.crazy-shadow {
  box-shadow: 0 0 0 0 #FB6D48; /* Glowing effect shadow */
  animation: pulse-crazy 6s infinite ease-in-out;
}

:root {
  --pulse-size: 350px; 
  --pulse-offset: calc(var(--pulse-size) * 0.2); 
}

@keyframes pulse-crazy {
  0%, 100% {
    box-shadow: 0 0 var(--pulse-size) 0 rgba(251, 109, 72, 1);
  }
  50% {
    box-shadow: 0 0 calc(var(--pulse-size) + var(--pulse-offset)) 0 rgba(251, 109, 72, 0.2);
  }
}

/*Skill Section*/
@media screen and (min-width: 992px) {
  .first-column-style {
    margin-top: -20px;
  }
}

@media screen and (min-width: 1200px) {
  .first-column-style {
    margin-top: -100px;
  }
}

.skill-box-shadow{
  box-shadow: inset 0 -2em 2em rgb(79 248 210 / 30%), #4ff8d2 0px 2px 15px 2px;
}

.crazy-box-shadow{
  box-shadow: inset 0 -2em 2em rgb(215 75 118/ 30%), #D74B76 0px 2px 15px 2px;
}

/* .skill-box-shadow:hover{
  box-shadow: inset 0 -2em 2em rgba(248, 79, 234, 0.3), #e845f7 0px 20px 90px 20px;
} */

.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
  color: #fff;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}
.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
}

/*Project Pages*/

.black-box-shadow{
  box-shadow: #000000 0px 2px 15px 2px;
}

